/* about css */
article {
  padding: 15px;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}
.banner .text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.banner h1 {
  font-size: 54px;
  color: #71efde;
  font-weight: normal;
  margin: 0;
}
.banner p {
  font-size: 12px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.madeit {
  text-align: center;
  padding: 20px;
}

.madeit h2 {
  display: inline-block;
  font-weight: normal;
  margin: 0;
}

.madeit h2:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #71efde;
}

.madeit p {
  margin: 0;
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 18px;
}

.madeit video {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

.popular {
  padding-bottom: 15px;
}

.popular h2 {
  text-align: center;
  padding: 15px 0;
}

.list-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.list-grid .item {
  width: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .2);
  padding:2.5%;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 2;
}